<div class="toolbar px-24 py-8" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <div class="content-toolbar" fxFlex="60" fxLayout="row" fxLayoutAlign="start center">
        <button matTooltip="Add" mat-mini-fab color="accent" (click)="openRoleAddDialog()">
            <mat-icon>add</mat-icon>
        </button>

        <div *ngIf="selected.length > 0" class="toolbar-separator"></div>
        <button *ngIf="selected.length > 0" matTooltip="Delete" color="warn" mat-icon-button (click)="onDeleteClick()">
            <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="selected.length > 0" matTooltip="Update" color="primary" mat-icon-button (click)="onEditClick()">
            <mat-icon>mode_edit</mat-icon>
        </button>

    </div>
    <layout-search-bar (search)="updateFilter($event)" fxFlex></layout-search-bar>
</div>
<div class="content p-24">
    <ngx-datatable #table class="material" [rows]="allRoles" [columns]="columns" [columnMode]="'force'" [rowHeight]="'40'" [selected]="selected"
        [selectCheck]="singleSelectCheck" [selectionType]="'single'" (select)='onSelect($event)' [headerHeight]="50" [footerHeight]="50"
        [limit]="10">
    </ngx-datatable>
</div>