<!--div class="header-custom container">
<div class="row no-gutters">
  <div class="col-md-1">
    <img src="/assets/images/logo-ma.png" height="70px">
  </div>
  <div class="col-md-4 title-custom">
    <h4>Sekretariat Pengadilan Pajak</h4>
    <div class="smallfont">Gedung Pengadilan Pajak, Jl.Hayam Wuruk No.7 JAKARTA PUSAT 10210</div>
    <div class="smallfont">Telepon (021)29806333; Faksimile(021)29806334; Situs www.setpp.kemenkeu.go.id</div>
  </div>
  <div class="col-md-1">
      <img src="/assets/images/logo-kemenkeu.png" height="70px">
  </div>
</div>
</div>
<div class="content-custom">
  <h6>TANDA TERIMA</h6>
  <h6>SURAT PENCABUTAN</h6>
  <table>
    <tr>
      <td>Nama Pemohon</td>
      <td> : </td>
      <td>{{data.Nama}}</td>
    </tr>
    <tr>
      <td>No. Sengketa</td>
      <td> : </td>
      <td>{{data.NoSengketa}}</td>
    </tr>
    <tr>
      <td>No. Surat Banding / Gugatan</td>
      <td> : </td>
      <td>{{data.NoSuratPermohonan}}</td>
    </tr>
    <tr>
      <td>Tgl. Surat Banding / Gugatan</td>
      <td> : </td>
      <td>{{data.TglSuratPermohonan | date:'dd-MM-yyyy'}}</td>
    </tr>
    <tr>
      <td>No. Surat Pencabutan</td>
      <td> : </td>
      <td>{{data.NoSuratPencabutan}}</td>
    </tr>
    <tr>
      <td>Tgl. Surat Pencabutan</td>
      <td> : </td>
      <td>{{data.TglSuratPencabutan | date:'dd-MM-yyyy'}}</td>
    </tr>
    <tr>
      <td>Softcopy Pencabutan</td>
      <td> : </td>
      <td>{{data.FilePencabutan}}</td>
    </tr>
  </table>
</div>
<div class="footer-custom">
  <div>Diterima di Pengadilan Pajak,</div>
  <div>{{todayDate | date:'dd-MM-yyyy'}}</div>
  <br><br><br>
  <div>(.............................................)</div>
</div>
<div>
<hr>
</div>-->
