<div class="dialog-content-wrapper">
  <div mat-dialog-title class="mat-accent-bg p-16 m-0" fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Validasi Data Tambahan</span>
      <button aria-label="Close dialog" mat-icon-button (click)="onNoClick()">
          <mat-icon>close</mat-icon>
      </button> 
  </div>

  <div mat-dialog-content class="p-24 m-0">
    <form [formGroup]="formGroup" novalidate fxFlex fxLayout="column">
        <mat-form-field>
            <input matInput id="NoSuratPengantar" formControlName="NoSuratPengantar" placeholder="Nomor Surat Pengantar" required />
            <mat-error *ngIf="formGroup.controls['NoSuratPengantar'].errors">
                <div [hidden]="!formGroup.controls['NoSuratPengantar'].errors.required">No. Surat Pencabutan wajib diisi!</div>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput [matDatepicker]="pickerTglTerima" id="TglTerima" formControlName="TglTerima" placeholder="Tanggal Terima Surat Pengantar" required />
            <mat-datepicker-toggle matSuffix [for]="pickerTglTerima"></mat-datepicker-toggle>
            <mat-datepicker #pickerTglTerima></mat-datepicker>
            <mat-error *ngIf="formGroup.controls['TglTerima'].errors">
                <div [hidden]="!formGroup.controls['TglTerima'].errors.required">Tanggal Terima wajib diisi!</div>
            </mat-error>
        </mat-form-field>
      
        <mat-form-field>
            <input matInput [matDatepicker]="pickerTglSuratPengantar" id="TglSuratPengantar" formControlName="TglSuratPengantar" placeholder="Tanggal Surat Pengantar"  />
            <mat-datepicker-toggle matSuffix [for]="pickerTglSuratPengantar"></mat-datepicker-toggle>
            <mat-datepicker #pickerTglSuratPengantar></mat-datepicker>
            <mat-error *ngIf="formGroup.controls['TglSuratPengantar'].errors">
                <div [hidden]="!formGroup.controls['TglSuratPengantar'].errors.required">Tanggal Surat wajib diisi!</div>
            </mat-error>
        </mat-form-field>
      
          
      <mat-form-field>
        <mat-select placeholder="Cara Kirim" formControlName="RefCaraKirimID" name="RefCaraKirimID"  (change)="checkSender()">
            <mat-option *ngFor="let carakirim of modelCaraKirim" [value]="carakirim.RefCaraKirimId">
                {{carakirim.Uraian}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="pickerTglKirim" id="TglKirim" formControlName="TglKirim" placeholder="Tanggal Kirim Surat Pengantar" />
        <mat-datepicker-toggle matSuffix [for]="pickerTglKirim"></mat-datepicker-toggle>
        <mat-datepicker #pickerTglKirim></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['TglKirim'].errors">
            <div [hidden]="!formGroup.controls['TglKirim'].errors.required">Tanggal Kirim wajib diisi!</div>
        </mat-error>
    </mat-form-field>

     
    </form>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button (click)="onOkClick()" [disabled]="isEdit? formGroup.pristine : formGroup.invalid" color="primary"
              type="button" tabindex="2">
          Validasi
      </button>
      <button mat-raised-button (click)="onNoClick()" tabindex="-1">Batal</button>
  </div>
</div>