<div class="dialog-content-wrapper">
  <div mat-dialog-title class="mat-accent-bg p-16 m-0" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">Referensi Config</span>
    <button aria-label="Close dialog" mat-icon-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="p-24 m-0">
    <form [formGroup]="formGroup" novalidate fxFlex fxLayout="column">
      <mat-form-field>
        <input matInput id="uraian" formControlName="uraian" placeholder="Uraian" required/>
        <mat-error *ngIf="formGroup.controls['uraian'].errors">
          <div [hidden]="!formGroup.controls['uraian'].errors.required">Uraian wajib diisi!</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput id="configKey" formControlName="configKey" placeholder="Key" required/>
        <mat-error *ngIf="formGroup.controls['configKey'].errors">
          <div [hidden]="!formGroup.controls['configKey'].errors.required">Key wajib diisi!</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput id="configValue" formControlName="configValue" placeholder="Value" required/>
        <mat-hint *ngIf="isEdit==true">
          <div>Value diisi untuk mengubah.</div>
        </mat-hint>
        <mat-error *ngIf="formGroup.controls['configValue'].errors && isEdit==false">
          <div [hidden]="!formGroup.controls['configValue'].errors.required">Value wajib diisi!</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <!-- <input matInput id="isEncrypted" formControlName="isEncrypted" placeholder="Encryption?" required/> -->
        <mat-select id="isEncrypted" formControlName="isEncrypted" placeholder="Encryption?" required>
          <span>Encrypted?</span>
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls['isEncrypted'].errors">
          <div [hidden]="!formGroup.controls['isEncrypted'].errors.required">Encryption wajib diisi! true or false</div>
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button (click)="onOkClick()" [disabled]="isEdit? formGroup.pristine : formGroup.invalid" color="primary"
      type="button" tabindex="2">Simpan</button>
    <button mat-raised-button (click)="onNoClick()" tabindex="-1">Batal</button>
  </div>
</div>