<div class="main-content">
    <div class="container-fluid">
      <div class="content" *ngIf="rows">
        <div class="toolbar px-24 py-8" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div class="content-toolbar" fxFlex="60" fxLayout="row" fxLayoutAlign="start center">
                <button [disabled]="selected.length == rows.length" matTooltip="Pilih Semua" mat-mini-fab color="green" (click)="selectAll()">
                    <mat-icon>done_all</mat-icon>
                </button>
                &nbsp;&nbsp;&nbsp;
                <button [disabled]="selected.length <= 0" matTooltip="Batal Pilih Semua" mat-mini-fab color="warn" (click)="deselectAll()">
                    <mat-icon>clear</mat-icon>
                </button>
                &nbsp;&nbsp;&nbsp;
                <button [disabled]="selected.length <= 0" matTooltip="Cetak" mat-mini-fab color="primary" (click)="print()">
                    <mat-icon>print</mat-icon>
                </button>
            </div>
            <layout-search-bar (search)="updateFilter($event)" fxFlex></layout-search-bar>
        </div>     
        &nbsp;&nbsp;&nbsp;
          <div class="controls">
              <div>
                  <label for="per-page">
                      Jumlah Baris:
                  </label>
                  <select (change)="changeRowLimits($event)">
                        <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
                </select>
              </div>
          </div>
        <ngx-datatable 
            class="material"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [selected]="selected"
            [selectionType]="'multiClick'"
            [limit]="limit"
            [scrollbarH]="true">
            <ngx-datatable-column name="No Sengketa" prop="NoSengketa">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.NoSengketa}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Jenis Sengketa" prop="jenisSengketa">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.jenisSengketa}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Jenis Pemeriksaan" prop="jenisPemeriksaan">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.jenisPemeriksaan}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="Status">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.jenisPemeriksaan}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Jatuh Tempo" prop="Jatuh Tempo">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.jenisPemeriksaan}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
      </div>
      <!--button (click)="submitDocument()" [disabled]="selected.length <= 0" style="margin-top:2%" class="btn btn-primary pull-right">Distribusi</button-->
    </div>
</div>