<div *ngIf="!isSaved; else KonfirmasiPage">
    <div class="toolbar px-24 py-8" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="content-toolbar" fxFlex="60" fxLayout="row" fxLayoutAlign="start center">
            <button [disabled]="selected.length <= 0 || selected[0].NoSubSt != null" matTooltip="Tambah Sub/St" mat-mini-fab color="accent" (click)="addSubSt()">
                <mat-icon>add</mat-icon>
            </button>
             &nbsp;&nbsp;&nbsp;
             <button [disabled]="selected.length <= 0 || selected[0].NoSubSt == null" matTooltip="Update Sub/St" mat-icon-button  color="primary" (click)="editSubSt()">
                <mat-icon>edit</mat-icon>
            </button>
             &nbsp;&nbsp;&nbsp;
             <button [disabled]="selected.length <= 0 || selected[0].NoSubSt == null" matTooltip="Hapus Sub/St" mat-icon-button  color="primary" (click)="onDeleteClick()">
                <mat-icon>clear</mat-icon>
            </button>
             &nbsp;&nbsp;&nbsp;
             <button [disabled]="selected.length <= 0 || selected[0].NoSubSt == null" matTooltip="Detail Sub/St" mat-icon-button color="primary" (click)="detailSubSt()">
                <mat-icon>visibility</mat-icon>
            </button>
            &nbsp;&nbsp;&nbsp;
            <button [disabled]="selected.length <= 0 || selected[0].NoSubSt == null || selected[0].RefStatusId == 210" matTooltip="Cetak Tanda Terima Sub/St"  mat-icon-button  color="primary" (click)="print()">
                <mat-icon>print</mat-icon>
            </button>

        </div>
        <layout-search-bar (search)="updateFilter($event)" fxFlex></layout-search-bar>
    </div>
    <div class="content p-24">
        <ngx-datatable #table 
        class="material" 
        [rows]="items" 
        [columnMode]="'force'" 
        [rowHeight]="'40'" 
        [selected]="selected"
        [selectionType]="'single'" 
        [selectCheck]="singleSelectCheck" 
        (select)='onSelect($event)'
        [headerHeight]="50" 
        [footerHeight]="50"
        [limit]="10">
            <ngx-datatable-column name="No.Surat" prop = "NoSuratPermohonan" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.NoSuratPermohonan}}
                </ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Tanggal Surat Banding/Gugatan" prop ="TglSuratPermohonan" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.TglSuratPermohonan | date:'dd-MM-yyyy'}}
                </ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Nama Pemohon" prop="TextPemohonName" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.TextPemohonName}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Jenis Sengketa" prop ="TextRefJenisPermohonanUr">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.TextRefJenisPermohonanUr}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="No. Sengketa" prop ="NoSengketa">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.NoSengketa}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="No.SUB/Tanggapan" prop = "NoSubSt" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.NoSubSt}}
                </ng-template>
            </ngx-datatable-column>
            
        </ngx-datatable>
    </div>
</div> 

<ng-template #KonfirmasiPage>
    <div class="toolbar px-24 py-8" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="content-toolbar" fxFlex="60" fxLayout="row" fxLayoutAlign="start center">
        <h3 class="md-title">SUB/ST</h3>
        </div>
    </div>
    <div class="content p-24">
        <p>Surat Uraian Banding (SUB) atau Surat Tanggapan telah (ST) disimpan, 
            selanjutnya cetak bukti Tanda Terima SUB/ST</p>
        <mat-card>
        <mat-card-content>
            <table>
                <tr>
                    <td>No. Sengketa</td>
                    <td>{{item?.NoSengketa}}</td>
                </tr>
                <tr>
                    <td>Nama Pengirim</td>
                    <td>{{item?.NamaPengirimSubSt}}</td>
                </tr>
                <tr>
                    <td>No.Surat Banding</td>
                    <td>{{item?.NoSuratPermohonan}}</td>
                </tr>
                <tr>
                    <td>No. SUB/Tanggapan</td>
                    <td>{{item?.NoSubSt}}</td>
                </tr>
                <tr>
                    <td>Tanggal SUB/Tanggapan</td>
                    <td>{{item?.TglSubSt | date:'dd-MM-yyyy'}}</td>
                </tr>
                </table>
        </mat-card-content>
        </mat-card>
        <p>Data sudah disimpan</p>
        <!-- <button mat-raised-button color="primary">Cetak Tanda Terima</button> -->
        <a download class="btn btn-primary" (click)="print()">Cetak Tanda Terima</a>
    </div>
    <div>
        <button class="back-button" mat-raised-button color="primary" (click)="backToList()">Kembali</button>
    </div>
</ng-template>