
   <div class="toolbar px-24 py-8" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
   <p>Pilih Salah Satu Permohonan Untuk Tambah Data Tambahan</p>
    
  </div>
   <div class="toolbar px-24 py-8" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

  <div class="content-toolbar" fxFlex="60" fxLayout="row" fxLayoutAlign="start center">
      <button  [disabled]="selected.length <= 0 || selected[0].NoSuratPencabutan != null" matTooltip="Tambah Data Tambahan" mat-mini-fab color="accent"  (click)="showDetail()">
          <mat-icon>add</mat-icon>
      </button>

  &nbsp;&nbsp;&nbsp;
</div>
  <layout-search-bar (search)="updateFilter($event)" fxFlex></layout-search-bar>
</div>
<div class="content p-24">
  <ngx-datatable #table class="material" [rows]="items"  [columnMode]="'force'" [rowHeight]="'40'" [selected]="selected"
      [selectionType]="'single'" [selectCheck]="singleSelectCheck" (select)='onSelect($event)' [headerHeight]="50" [footerHeight]="50"
      [limit]="15">
      <ngx-datatable-column name="Nomor Surat" prop="NoSuratPermohonan">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.NoSuratPermohonan}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nama Pemohon" prop="PemohonName">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.PemohonName}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tanggal Terima" prop="TglTerimaPermohonan">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.TglTerimaPermohonan | date:'dd-MM-yyyy'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tanggal Surat" prop="TglSuratPermohonan">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.TglSuratPermohonan | date:'dd-MM-yyyy'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nomor Sengketa" prop="NoSengketa">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.NoSengketa}}
        </ng-template>
      </ngx-datatable-column>
     
  </ngx-datatable>
  
</div>
