<mat-card>
  <mat-card-content>
       <mat-tab-group class="demo-tab-group">
          <mat-tab label="Daftar Sengketa">
                  <div class="main-content">
                          <div class="container-fluid">
                            <div class="content" *ngIf="rows">
                              <div class="toolbar" fxFlex fxLayout="row">
                                <label>Filter                  </label>
                                <input [matDatepicker]="pickerTglAwal" id="tglawal" placeholder="Tanggal Terima Awal"  [(ngModel)]="inputTglAwal" />
                                <mat-datepicker-toggle matSuffix [for]="pickerTglAwal"></mat-datepicker-toggle>
                                <mat-datepicker #pickerTglAwal></mat-datepicker>
                                <label>    s.d.     </label>
                                <input [matDatepicker]="pickerTglAkhir" id="tglakhir" placeholder="Tanggal Terima Akhir"  [(ngModel)]="inputTglAkhir" />
                                <mat-datepicker-toggle matSuffix [for]="pickerTglAkhir"></mat-datepicker-toggle>
                                <mat-datepicker #pickerTglAkhir></mat-datepicker>
                                <input type="button" (click)="FilterByName()" value="Apply"/>
                               </div>
                                <div class="toolbar px-24 py-8" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="content-toolbar" fxFlex="60" fxLayout="row" fxLayoutAlign="start center">
                                        <button [disabled]="selected.length == rows.length" matTooltip="Pilih Semua" mat-mini-fab color="primary" (click)="selectAll()">
                                            <mat-icon>done_all</mat-icon>
                                        </button>
                                        &nbsp;&nbsp;&nbsp;
                                        <button [disabled]="selected.length <= 0" matTooltip="Batal Pilih Semua" mat-mini-fab color="warn" (click)="deselectAll()">
                                            <mat-icon>clear</mat-icon>
                                        </button>
                                        &nbsp;&nbsp;&nbsp;
                                        <button [disabled]="selected.length <= 0" matTooltip="Cetak" mat-mini-fab color="primary" (click)="print()">
                                            <mat-icon>print</mat-icon>
                                        </button>
                                    </div>
                                    <layout-search-bar (search)="updateFilter($event)" fxFlex></layout-search-bar>
                                </div> 
                                &nbsp;&nbsp;&nbsp;
                                <div class="controls">
                                    <div>
                                        <label for="per-page">
                                            Jumlah Baris:
                                        </label>
                                        <select (change)="changeRowLimits($event)">
                                              <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
                                      </select>
                                    </div>
                                </div>
                                <ngx-datatable 
                                    class="material"
                                    [rows]="rows"
                                    [columnMode]="'force'"
                                    [headerHeight]="50"
                                    [footerHeight]="50"
                                    [rowHeight]="'auto'"
                                    [selected]="selected"
                                    [selectionType]="'multiClick'"
                                    [limit]="limit"
                                    [scrollbarH]="true">
                                    <ngx-datatable-column name="No Sengketa" prop="NoSengketa">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row?.NoSengketa}}
                                      </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Nama Pemohon" prop="Nama_Pemohon">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row?.Nama_Pemohon}}
                                      </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="NPWP" prop="NPWP">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row?.NPWP}}
                                      </ng-template>
                                    </ngx-datatable-column> 
                                    <ngx-datatable-column name="Tanggal Terima" prop="Tanggal_Terima">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row?.Tanggal_Terima | date:'dd-MM-yyyy' }}
                                      </ng-template>
                                    </ngx-datatable-column>
                                    
                                    <ngx-datatable-column name="Pemeriksaan" prop="Jenis_pemeriksaan">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row?.Jenis_pemeriksaan}}
                                      </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="ABG" prop="ABG">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row?.ABG}}
                                      </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="No Surat Permohonan" prop="No_Surat">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row?.No_Surat}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                   
                                </ngx-datatable>
                            </div>
                          </div>
                        </div>
          </mat-tab>      
         
      </mat-tab-group>
  </mat-card-content>
</mat-card>